<h1 style="float:center; margin-top: 50px;"><a href="./">ListPlay Prototype</a></h1>
<button class="btn btn-primary" style="float:right;" onClick="getTopArtists()">Show Top Artists</button>

<div id="spotifyUrlForm" class="row no-gutters">
	<div class="col-6">
		<!-- add a lil help button here later -->
		<input class="form-control" type="text" id="spotify_url" placeholder="Enter a Spotify URI">
	</div>
	<div class="col-2">
		<button type="submit" onclick="submitSpotify()" class="btn btn-primary">Submit</button>
	</div>
</div>