<script>
	$(function() { 
		$("#spotify_url").tooltip();
	});
</script>	

<h1 style="float:center; margin-top: 50px;"><a href="./">ListPlay</a></h1>
<button class="btn btn-primary" style="float:right;" onClick="getTopArtists()">Show Top Artists</button>

<div id="spotifyUrlForm" class="row no-gutters">
	<div class="col-6">
		<!-- add a lil help button here later -->
		<input class="form-control" type="text" data-html="true" title="How to find it:<br>Go to the playlist<br>Go to the three dots<br>Go to the share menu<br>Select 'Copy Spotify URI' from the second menu" id="spotify_url" placeholder="Enter a Spotify URI">
	</div>
	<div class="col-2">
		<button type="submit" onclick="submitSpotify()" class="btn btn-primary">View Playlist</button>
	</div> 
</div>