{{> header}}
<br>
<div style="text-align: center;">
	<h2>5 most played artists</h2>
	<ol class="list-group">
		{{#each topArtists}}
		<li class="list-group-item">{{artist}}</li>
		{{/each}}
	</ol>
</div>