{{> index user=user}}
<br>
<div style="text-align: center;">
	<h2>top 5 artists on this station</h2>
	<ol class="list-group">
		{{#each topArtists}}
		<li class="list-group-item">{{artist}}</li>
		{{/each}}
	</ol>
</div>